{% extends "base.html" %}



{% block content %}



<div class="d-flex  bg-secondary mt-3 flex-row mb-3 "  >
{% for book in books %}
    <div class="card m-2" style="width: 18rem;" href="{url 'detail_book' book.id}">
        <div class="card-body" >
          <h5 class="card-title">{{ book.name }}</h5>
          <p class="card-text">Descrição sobre o livro aqui!</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Categoria:</b> {{book.category}}</li>
          <li class="list-group-item"><b>Autor:</b> {{book.author}}</li>
          <li class="list-group-item"><b>Data da Locação:</b>{{book.data_locação}} </li>
          <li class="list-group-item"><b>Data da Locação:</b>{{book.data_de_devolucao}} </li>
        </ul>
        <div class="card-body">
          <a href="{% url 'detail_book' book.id %}" class="card-link">Ver Detalhes!</a>
        </div>
      </div> 
      
{% endfor%}


{% endblock content %}