{% extends "base.html" %}



{% block content %}



<div class="d-flex  mt-3 flex-wrap justify-content-between ">
  {% for book in books %}
  <div class="card" style="width: 18rem;">
    <img src="{{book.img.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{book.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Autor: </b>{{book.author}}</li>
      <li class="list-group-item"><b>Categoria: </b>{{book.category}}</li>
    </ul>
    <div class="card-body j"> 
      <a href="{% url 'detail_book' book.pk %}" class="btn btn-secondary justify-content-center">Ver Detalhes</a>
    </div>
  </div>
    {% if forloop.counter|divisibleby:4 and not forloop.last %}
      </div><div class="d-flex  mt-3 flex-wrap justify-content-between ">
    {% endif %}
  {% endfor %}
</div>



{% endblock content %}